#footer
    padding-top: 20px
    padding-bottom: 30px
    border-top: 1px solid color-border
    color: color-default
    font-size: font-size + 2
    text-align: center
    .outer
        margin-bottom: 0
        max-width: 750px
    a
        color: color-link
        text-decoration: none
        &:hover
            text-decoration: underline
    hr
        border: 1px solid #eceff2

#footer-info
    line-height: line-height
    font-size: 0.85em
    padding-bottom: 18px

#footer-links
    border-top: 1px solid color-border;
    line-height: line-height
    font-size: 0.85em
    padding-bottom: 18px
    #footer-nav 
        display: inline-block
        list-style: none 
        li
            display: inline-block
            margin-left: 16px
            margin-right: 16px
            margin-top: 10px
        a 
            text-align: center

#footer-heart
    color: color-primary-blue