<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%- theme.miscellaneous.open_graph.fb_app_id %>',
      xfbml      : true,
      version    : 'v2.8'
    });
    <% if (process.env.NODE_ENV === 'production') { %>
      FB.AppEvents.logPageView();
    <% } %>
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>