<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | Made with <i id="footer-heart" class="fa fa-heart" aria-hidden="true"></i> in Knoxville, TN
        </div>
        <div id="footer-links" class="inner">
            <ul id="footer-nav">
                <li><a href="mailto:hi@supersimpletutorials.com?subject=Hello%21&body=Hey%20there%2C" target="_blank">Say Hello</a></li>
                <li><a href="/policies">Privacy & Terms</a></li>
                <li><a href="/license">Creative Commons</a></li>
                <li><a href="#">Write a Tutorial</a></li>
            </ul>
        </div>
    </div>
    <div id="toTop" class="fa fa-angle-up"></div>
</footer>