<aside class="ui right sidebar" id="sidebar">
    <div class="sidebar-header">
        <a class="sidebar-toggle" title="Close the sidebar" href="#">
            <i class="fa fa-chevron-right"></i> Close
        </a>
    </div>
                
   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
</aside>