<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | Made with <i id="footer-heart" class="fa fa-heart" aria-hidden="true"></i> in Knoxville, TN
        </div>
    </div>
</footer>